<%- include("partials/header"); -%>
<h1>Home</h1>

<p><%= startingContent %></p>


<% posts.forEach(post => {%>
<br>
<br>
<br>
<h3><%=post.title %></h3>
  <%- post.post.substring(0,200);%>...
  <a href="/posts/<%= post._id %>"> Full story </a>

<%}); %>


<%- include("partials/footer"); -%>